:root {
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-dark-blue-bg: hsl(207, 26%, 17%);
  --color-dark-blue-text: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray-2: hsla(0, 10%, 65%, 0.249);
  --color-box-shadow: rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--color-white);
  color: var(--color-dark-blue-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
